a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image:
  linear-gradient(
    rgba(90, 97, 124, 0.82),
    rgba(90, 97, 124, 0.82)),
    url(imgs/background.jpg);
  background-size: cover;
}

button {
  padding: 14px 37px 14px 35px;
  border: none;
  background-color: #5170DD ;
  color: white;
  font-size: 13px;
  border-radius: 50px;
}

#contact {
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 14px;
  font-weight: 200;
}

#button {
  padding: 15px;
}

#buttondiv {
  margin-top: 40px;
}

#container {
  width: 100%;
  position:relative;
  top: 60px;
  text-align: center;
}

#logo {
  margin-top: 20px;
  width: 200px;
}

#left {
  height: 550px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  right: 45%;
  bottom: -320px;
  left: 150px;
}

#middle {
  height: 550px;
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -270px;
}

#right {
  height: 550px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  left: 45%;
  bottom: -320px;
  right: 150px;
}

#schedule {
  font-size: 12px;
  color: white;
  font-weight: 200;
}

#tagline {
  font-size: 42px;
  color: white;
  font-weight: 200;
}

#tel {
  margin-right: 20px;
}
