a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  padding: 14px 37px 14px 35px;
  border: none;
  background-color: #5170DD ;
  color: white;
  font-size: 13px;
  font-weight: 100;
  border-radius: 50px;
}

button:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 44px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}

html {
  background:
  linear-gradient(
    rgba(61, 70, 100, 0.86),
    rgba(61, 70, 100, 0.86)), url(imgs/background.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

  #contact {
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 14px;
    font-weight: 200;
  }

#button {
  padding: 15px;
}

#buttondiv {
  margin-top: 40px;
}

#container {
  width: 100%;
  position:relative;
  top: 60px;
  text-align: center;
}

#logo {
  margin-top: 20px;
  width: 200px;
}

#left {
  height: 550px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  right: 45%;
  bottom: -320px;
  left: 150px;
}

#middle {
  height: 550px;
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -270px;
}

#right {
  height: 550px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  left: 45%;
  bottom: -320px;
  right: 150px;
}

#schedule {
  font-size: 11px;
  font-variant: small-caps;
  color: #d4d4d8;
  font-weight: 200;
  letter-spacing: .35px;
}

#tel {
  margin-right: 20px;
}
